.editor {
  width: 100%;
  height: 492px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 32px;
  box-sizing: border-box;
}

.editor .editor-wraper {
/*   display: flex;
  align-items: flex-start;
  justify-content: space-around; */

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px 16px;

  background-color: var(--dark-gray);
  border-radius: 8px;
}

.editor-header{
	margin-top: 16px;
	width: 100%;
}

.editor-body{
	margin-top: 24px;
	margin-bottom: 16px;
	width: 100%;
  height: 77.48%;
}

.editor .editor-wraper .editor-body .editor-content {
  text-decoration: none;
  border: 0px;
  resize: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: var(--white);

  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.editor-blue {
  background-color: var(--blue);
}

.editor-purple {
  background-color: var(--purple);
}

.editor-green {
  background-color: var(--green);
}

@media screen and (min-width: 922px){
	.editor{
		height: 366px;
	}
}
