@import url('variables.css');

body{
	background-color: var(--dark-blue);
	margin: 0px;
	border: 0px;
	padding: 0px;

	font-family: Inter;
	font-style: normal;
	color: #666666
}

.container{
	display: flex;
	position: relative;
	width: 100%;
	height: inherit;
	box-sizing: border-box;
}

.row{
	padding-top: 32px;
}

.title{
	font-size: 21px;
	line-height: 31px;
	font-weight: bold;
}

.text{
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}

.sidebar-title{
	font-family: Inter;
	font-style: normal;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	color: var(--white);
}

.main{
	width: 100%;
	padding: 0px 32px;
	box-sizing: border-box;

	display: grid;
	grid-template-columns: 25% 50% 25%;
}

.main .sidebar{
	display: none;
}


.full-width{
	width: 100%;
}

@media screen and (max-width: 922px){
	.main{
		grid-template-columns: 100%;
	}
}

@media screen and (min-width: 375px) and (max-width: 922px){
	select.personalizacao, input.personalizacao{
		width: 50%;
	}
}

@media screen and (min-width: 922px){
	.main .sidebar{
		display: block;
	}

	.main{
		grid-template-columns: 25% 50% 25%;
	}

	.main .form{
		padding-left: 40px;
		box-sizing: border-box;
	}
}