:root{
	/*Neutral*/
	--dark-gray: #141414;
	--grey: #ffffff29;
	--white: #FFFFFF;

	/*MAC*/
	--mac-green: #27C93F;
	--mac-red: #FF5F56;
	--mac-yellow: #FFBD2E;

	/*Blue*/

	--dark-blue: #051D3B;
	--blue-300: #5081FB;
	--blue-200: #7BA4FC;
	--blue-100: #96B9FD;
}

body{
	background-color: var(--dark-blue);
	margin: 0px;
	border: 0px;
	padding: 0px;

	font-family: Inter;
	font-style: normal;
	color: #666666
}

.container{
	display: flex;
	align-items: center;

	position: relative;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 16px 16px 16px 16px;
}

.title{
	font-size: 21px;
	line-height: 31px;
	font-weight: bold;
}

.text{
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}

@media screen and (min-width: 768px) {
	.container{
		padding: 32px 32px 0px 32px;
	}
}